.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    border: none;
    padding: 16px;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.button:disabled {
    background-color: rgba(95, 116, 116, 0.13);
    cursor: not-allowed;
}
